@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Poppins:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Orbitron&family=Poppins:wght@200;300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=EB+Garamond&family=Montserrat:wght@300;400;700&family=Orbitron&family=Play&family=Poppins:wght@200;300;500&family=Sanchez&display=swap');

body, html {
    margin: 0;
    padding: 0;
    
}


nav{
background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);


}
nav a {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
    
}

h2 {
    font-size: 2rem !important;
    color: #333;
    margin-bottom: 1rem;
  }

  .my_title {
    color: #3498db;
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease; 
}

.my_title:hover {
    color: #ff6f61;
}

#mobile-menu-button {
    font-size: 1.8em;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    transition: color 0.3s ease;
    position: fixed;
    top: 10px; 
    right: 10px; 
}




#mobile-menu-button {
    transition: color 0.3s ease;
}

#mobile-menu-button.menu-closed {
    color: #ff6f61;
}

#mobile-menu {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}

#mobile-menu.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
}




  
.success-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #2ecc71;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}

.success-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

.success-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.success-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.success-container a:hover {
    background-color: #2980b9;
}

/* Style du footer */
footer {
    width: 100%;
    background-color: #2d2d2d; 
    color: #ffffff; 
    padding: 1rem; 
    margin-top: 200PX;

    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

